<footer>
<div class="conteiner-fluid" style="background-color: var(--dark-color);">
  <div class="row">
    <div class="col d-flex justify-content-center" style="margin: 2em 0;">
      <div class="my-auto">
        <img src="../static/img/logo-official.png" alt="" height="60">
        <p class="logo-subtext">Фотоархив</p>
      </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col" style="margin: 2em">
      <div>
        <p class="footer-support">Контакты технической поддержки:<br> Lorem, ipsum.<br> Lorem, ipsum.<br> Lorem, ipsum.</p>
      </div>
    </div>
  </div>
</div>
</footer>