<header>
    <div class="header-wrapper">
        <a class="header-link" href="/">
            {% load static %}
            <img class="logo" src="{% static 'img/logo_green_ru.svg' %}" width="125">
        </a>
    </div>
    <div class="header-nav">
        <nav>
            <ul class="nav-links">
                <li><a href="/gallery/">ГАЛЕРЕЯ</a></li>
                <li><a href="/gallery/id/1/">СОБЫТИЯ</a></li>
                <li><a href="/about/">О ПРОЕКТЕ</a></li>
            </ul>
        </nav>
    </div>
</header>