<header>
<nav class="navbar navbar-expand navbar-light mybar">
    <a class="navbar-brand ml-5" href="#">
        <img src="assets/logo.svg" alt="Архив ММФ" width="200">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto my-navlist">
            <li class="nav-item active mr-5">
                <a href="#" role="button" class="nav-button"><i class="fa fa-tag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Теги</a>
            </li>
            <li class="nav-item active mr-5">
                <a href="#" role="button" class="nav-button"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Профили</a>
            </li>
            <li class="nav-item active mr-5">
                <a href="#" role="button" class="nav-button"><i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;&nbsp;Галерея</a>
            </li>
            <li class="nav-item active">
                <a href="#" role="button" class="nav-button"><i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp;&nbsp;Загрузить</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item active">
                <a href="#" role="button" class="nav-button"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;&nbsp;Войти</a>
            </li>
        </ul>
    </div>
</nav>
</header>