{% extends 'main.html' %}

{% block content %}

<div class="photo-block">
    <div class="photo-wrapper">
        {% load static %}
        <img class="photo" src="{% static 'img/photos/placeholder.png' %}" width="100%">
    </div>
    <div class="photo-description">
        {% if photo.author %}
        <h4 class="description-text"><strong>Автор фото:</strong> {{photo.author}}</h4>
        {% endif %}
        {% if photo.description %}
        <h4 class="description-text"><strong>Описание:</strong> {{photo.description}}</h4>
        {% endif %}
        {% if photo.year_of_capture %}
        <h4 class="description-text"><strong>Год съёмки:</strong> {{photo.year_of_capture}}</h4>
        {% endif %}
        <h4 class="description-text"><strong>Теги:</strong> {% for tag in tags %}{% if not forloop.last %}{{ tag.tag_name }}, {% else %}{{ tag.tag_name }}.{% endif %}{% endfor %}</h4>
        <h4 class="description-text"><strong>Люди на фото:</strong> {% for person in people %}{% if not forloop.last %}{{ person.name }}, {% else %}{{ person.name }}.{% endif %}{% endfor %}</h4></h4>
        <h4 class="description-text"><strong>ID:</strong> {{photo.id}}</h4>
    </div>
</div>

{% endblock content %}