{% extends 'main.html' %}

{% block content %}

<h1 class="mb-4">Загрузка фотографий</h1>

{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-7">
            <div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="AuthorName" placeholder="Автор" disabled>
                        </div>
                    </div>
                    <div class="input-group col mb-3">
                        <input type="number" class="form-control" id="Day" placeholder="День" disabled>
                        <input type="number" class="form-control" id="Month" placeholder="Месяц" disabled>
                        <input type="number" class="form-control" id="Year" placeholder="Год" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="SameAuthor" class="form-check-input" id="" disabled>
                            <label class="form-check-label" for="exampleCheck1">Общий автор</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="SameDate" class="form-check-input" id="" disabled>
                            <label class="form-check-label" for="exampleCheck1">Общая дата</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <textarea class="form-control" id="Description" rows="5" placeholder="Описание (краткое)" disabled></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-5">
                        <div id="TagContainer"></div>
                        <button type="button" id="AddTag" class="btn btn-primary" onclick="addTag()" disabled>Добавить тег</button>
                    </div>
                    <div class="col mb-5">
                        <div id="PersonContainer"></div>
                        <button type="button" id="AddPerson" class="btn btn-primary float-end" onclick="addPerson()" disabled>Добавить человека</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-5">
                        <button type="button" id="PreviousImageButton" class="btn btn-primary" onclick="prevImage();" disabled>Назад</button>
                    </div>
                    <div class="col mb-5">
                        <button type="button" id="NextImageButton" class="btn btn-primary float-end" onclick="nextImage();" disabled>Вперёд</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <button type="button" id="Submit" class="btn btn-primary primary-color" onclick="submit();" disabled>Загрузить</button>
                        <button type="button" id="Reset" class="btn btn-danger" onclick="reset();" disabled>Сброс</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <input type="file" id="ImagesInput" class="form-control" onchange="showImage();" accept="image/*" multiple>
            </div>
            <div class="row" id="PhotoViewBackground" style="background-color: #434242; border-radius: 10px;">
                <img class="img-fluid mb-3 mt-3" id="PhotoView" src="" alt="">
            </div>
        </div>
    </div>
</form>

<script>
    const maxTags = 5;
    const maxPersons = 5;
    var currentTags = 0;
    var currentPersons = 0;

    var currentImage = 0;
    var uploadedImages = 0;

    var photoArray = [];
    
    $('#PhotoViewBackground').hide();

    var reader = new FileReader();
    reader.onload = function (e) {
        $('#PhotoView')
            .attr('src', e.target.result)
            .attr('alt', 'PhotoPreview');
        $('#ImagesInput').hide();
        $('#PhotoViewBackground').show();
    };
    
    function showImage() {
        if (ImagesInput.files && ImagesInput.files[0]) {
            reader.readAsDataURL(ImagesInput.files[0]);
            uploadedImages = ImagesInput.files.length;


            $('#AuthorName').prop('disabled', false);
            $('#Day').prop('disabled', false);
            $('#Month').prop('disabled', false);
            $('#Year').prop('disabled', false);
            $('#SameAuthor').prop('disabled', false);
            $('#SameDate').prop('disabled', false);
            $('#Description').prop('disabled', false);
            $('#PreviousImageButton').prop('disabled', false);
            $('#NextImageButton').prop('disabled', false);
            $('#AddTag').prop('disabled', false);
            $('#AddPerson').prop('disabled', false);
        }
    }

    function prevImage() {
        if (currentImage > 0) {
            currentImage--;
            reader.readAsDataURL(ImagesInput.files[currentImage]);
        }
    }

    function nextImage() {
        if (currentImage < uploadedImages - 1) {
            currentImage++;
            reader.readAsDataURL(ImagesInput.files[currentImage]);
        }
    }

    function addTag() {
        if (currentTags < maxTags)
        {
            $("<div>", { 
                id: "TagForm-" + currentTags,
                class: "input-group mb-3"
            }).appendTo('#TagContainer');

            $('<input></input>', {
                id: 'TagInput-' + currentTags,
                type: 'text',
                class: 'form-control',
                placeholder: 'Тег'
            }).appendTo('#TagForm-' + currentTags);

            $('<button></button>', {
                id: 'DeleteTag-' + currentTags,
                type: 'button',
                class: 'btn btn-outline-danger',
                onclick: 'deleteTag(' + currentTags + ');'
            }).appendTo('#TagForm-' + currentTags);
            $('#DeleteTag-' + currentTags).html('X');

            currentTags++;
        } 
        if (currentTags == maxTags)
        {
            $('#AddTag').hide();
        }
    }

    function addPerson() {
        if (currentPersons < maxPersons)
        {
            $('<div>', { 
                id: 'PersonForm-' + currentPersons,
                class: 'input-group mb-3'
            }).appendTo('#PersonContainer');

            $('<input></input>', {
                id: 'PersonInput-' + currentPersons,
                type: 'text',
                class: 'form-control',
                placeholder: 'Человек'
            }).appendTo('#PersonForm-' + currentPersons);

            $('<button></button>', {
                id: 'DeletePerson-' + currentPersons,
                type: 'button',
                class: 'btn btn-outline-danger',
                onclick: 'deletePerson(' + currentPersons + ');'
            }).appendTo('#PersonForm-' + currentPersons);
            $('#DeletePerson-' + currentPersons).html('X');
            
            currentPersons++;
        }
        if (currentPersons == maxPersons)
        {
            $('#AddPerson').hide();
        }
    }

    function deleteTag(n) {
        $('#TagForm-' + n).remove();
        for (let i = n + 1; i < maxTags; i++) {
            $('#TagForm-' + i).attr('id', 'TagForm-' + (i-1));
            $('#TagInput-' + i).attr('id', 'TagInput-' + (i-1));
            $('#DeleteTag-' + i)
                .attr('id', 'DeleteTag-' + (i-1))
                .attr('onclick', 'deleteTag(' + (i-1) + ');');

        }
        currentTags--;
        $('#AddTag').show();
    }

    function deletePerson(n) {
        $('#PersonForm-' + n).remove();
        for (let i = n + 1; i < maxPersons; i++) {
            $('#PersonForm-' + i).attr('id', 'PersonForm-' + (i-1));
            $('#PersonInput-' + i).attr('id', 'PersonInput-' + (i-1));
            $('#DeletePerson-' + i)
                .attr('id', 'DeletePerson-' + (i-1))
                .attr('onclick', 'deletePerson(' + (i-1) + ');');

        }
        currentPersons--;
        $('#AddPerson').show();
    }
</script>
{% else %}
<p class="text-danger">Войдите, чтобы добавить фотографии на сайт.</p>
{% endif %}

{% endblock content %}