body{
    background-color:#fefefe;
}

@font-face { font-family: Averta; src: url('fonts/AvertaCY/Averta Cyrillic Regular.otf'); } 

:root {
    --primary-color: #54B28B;
    --secondary-color: #D7F6DC;
    --dark-color: #434242;
}

.mybar:before {
    content:'';
    position: absolute;
    left: 0;
    width: 100%;
    height: 35%;
    z-index: -1;
    background-color: var(--secondary-color);
}


.nav-button{
    color: var(--primary-color);
    font-family: 'Averta';
    background-color: white;
    padding: .5em;
    border-radius: 0.5em;
}

@media (max-width: 992px) { 
    .mybar:before {
        content:'';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--secondary-color);
    }
}

.nav-button:hover{
    text-decoration: none;
}

.carousel{
    width:100%; 
    overflow:hidden;
    margin-top: 2em;
}

.carousel-item{
    height:25em;

    img{
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

}

.center-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.tag-title{ 
    text-align: center;
    font-family: 'Averta';
    color: var(--primary-color);
}

.tag-description{
    font-family: 'Averta';
    text-align: center;
}

.more-tag-button{
    color: var(--primary-color);
    font-family: 'Averta';
    margin-top: 0.5em;
    padding: .5em 1em;
    border-radius: 0.5em;
    outline: solid;
}

.more-tag-button:hover{
    text-decoration: none;
}

.lines-pattern{
    background-image: url("../assets/patterns/lines.svg");
}

.more-last-photo-button{
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    padding: .5em 5em;
    background-color: var(--primary-color);
}

.more-last-photo:hover{
    text-decoration: none;
}

.teachers-bar{
    width: 100%;
    height: 4em;
    background-color: var(--secondary-color);
}

.teachers-container{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 4em;
}

.teachers-title{
    display: inline;
    padding: 1.5em 1em 1em 1em;
    background-color: var(--secondary-color);
    border-radius: 0 0 1em 1em;
}

.symbols-pattern{
    background-image: url("../assets/patterns/lines.svg");
}

.teacher-name{
    font-family: "Averta";
    margin-top: 1em;
}

.footer-support{
    font-family: "Averta";
    color: white;
    font-size: 1em;
}

.logo-subtext{
    font-family: "Averta";
    color: white;
    font-size: 1.2em;
    margin:0;
    padding:0;
}