{% extends "main.html" %}

{% block content %}
<h1 class="mb-4">Войти в аккаунт</h1>

{% if form.errors %}
    <p class="mb-3 text-danger">Логин и пароль не совпадают.</p>
{% endif %}

{% if user.is_authenticated %}
<p class="mb-3 text-dark">Вы уже вошли в аккаунт.</p>
{% else %}
<form method="post" action='{% url 'login' %}' class="form-signin">
    {% csrf_token %}
    
    <div class="form-floating w-50 mb-3">
        <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" placeholder="Логин" required="" id="id_username">
        <label for="id_username">Логин</label>
        {{ form.username.errors }}
    </div>

    <div class="form-floating w-50 mb-3">
        <input type="password" class="form-control" name="password" autocomplete="current-password" placeholder="Пароль" required="" id="id_password">
        <label for="id_password">Пароль</label>
        {{ form.password.errors }}
    </div>

    <div class="row w-50 mb-3">
        <div class="col"><button class="btn btn-primary" type="submit">Войти</button></div>
    </div>
</form>
{% endif %}

{% endblock %}